.slickCarousel{
    background-color: rgb(189, 198, 253);
    & :global(.custom-center-class) {
        background-color: blue;
    }
    & :global(.slick-center) {
        background-color: red;
    }
    & :global(.slick-slide){
        // width: auto !important;
        // height: 100%;
        //  margin: 0 40px;
    }

}